.col-md-3{
    border: .4rem solid rgb(225, 12, 233);
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: rgb(225, 12, 233);
    /* background: rgba(0,0,0,0.4); */
    text-shadow: 0 0 .5rem rgb(228, 222, 222);
    
}

.row {
    display: flex;
    flex: 3;
    min-height: 3vh;
    align-items: center;
    justify-content: center;
}
div.circle-avatar{
    /* make it responsive */
    max-width: 100%;
    width:100%;
    height:auto;
    display:block;
    /* div height to be the same as width*/
    padding-top:100%;
    
    /* make it a circle */
    border-radius:50%;
    
    /* Centering on image`s center*/
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    
    /* it makes the clue thing, takes smaller dimension to fill div */
    background-size: cover;
    
    /* it is optional, for making this div centered in parent*/
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    }
    input {
        color: transparent; background-color: transparent; border-color: transparent; cursor: default;
    }
